.container {
  width: 100%;
  height: 100vh;
  background-color: #252729;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.img {
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
}

.intro {
  padding-left: 3vw;
}

.padding2 {
  padding-left: 2vw;
}

.padding3 {
  padding-left: 3vw;
}

.skills {
  padding-left: 3vw;
  display: flex;
  justify-content: flex-start;
}

.skills h3,
.skills p {
  text-align: center;
  margin: 0;
  padding: 5px 10px;
}

.light {
  font-weight: 400;
}

.project {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
}

.project a {
  width: 5%;
  padding: 10px;
  color: white;
  display: block;
  text-decoration: none;
  border: 1px solid white;
  transition: all 0.5s ease;
  margin-left: 5vw;
  text-align: center;
}

.project a:hover {
  border: 1px solid #f14646;
  box-shadow: 0 0 5px 5px #f14646;
}

.card {
  width: 100%;
  height: 100%;
  background-color: green;
}

.cardImage {
  width: 8vw;
  height: 10vh;
}
